<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="vue.js" type="text/javascript"></script>

    <style>
        .class-a, .classA{
            color: lightseagreen;
        }

        .class-b, .classB{
            color: darkred;
        }
    </style>
</head>
<body>

<div id="example">
    a={{ a }}, b = {{ b }}
</div>

<div id="demo">{{fullName}}</div>

<div id="autoChangeCls" class="static" :class="{'class-a': isA, 'class-b': isB}"> auto Changed Class </div>

<div id="arrayCls" :class="{classA: isA, classB: isB}">马不停蹄</div>

<!-- 样式 -->
<div id="bindStyle" :style="{color: activeColor, fontSize: fontSize + 'px'}">Good Boy</div>
<div id="bindStyleObj" :style="styleObject">Good Boy</div>

<!-- Template -->
<div id="template">
    <template v-if="Math.random()>0.3">
        <h1 >title</h1>
        <p>paragraph 1</p>
        <p>paragraph 2</p>
    </template>
</div>

<div id="random">
    <div v-if="Math.random()>0.5" >
        Sorry
    </div>
    <div v-else>
        Not Sorry
    </div>
</div>

<!-- 列表渲染 -->
<!--<ul id="list" >
    <li v-for = "item in items"> {{item.message}} </li>
</ul>-->

<!--<ul id="list">
    <li v-for="item in items">
        {{parentMessage}} - {{ $index }} - {{item.message}}
    </li>
</ul>-->

<!--<div id="list">
    <div v-for="item in items">
        {{item.message}}
    </div>
</div>-->

<div id="clickShow">
    <button v-on:click="greet">Greet</button>
</div>

<ul id="list">
    <template v-for="item in items">
        <li>{{item.message}}</li>
        <li class="divider"></li>
    </template>
</ul>

<script type="text/javascript">
    var vm = new Vue({
        el:'#example',
        data:{
            a: 1
        },
        computed: {
            b: function(){
                return this.a + 1
            }
        }
    });

    var demo = new Vue({
        el: '#demo',
        data:{
            firstName: "song",
            lastName: "fuzhen"
        },
        computed:{
            fullName:{
                // getter
                get: function(){
                    return this.firstName + ' '+ this.lastName;
                },
                // setter
                set: function(newValue){
                    var names = newValue.split(' ');
                    this.firstName = names[0];
                    this.lastName = names[names.length - 1];
                }
            }
        }
    })

    // 动态切换 class:将计算属性直接绑定到class 上
    var autoChangeCls = new Vue({
        el: '#autoChangeCls',
        data:{
            isA: true,
            isB: false
        }
    });

    var arrayCls = new Vue({
        el: '#arrayCls',
        data:{
            isA: false,
            isB: true
        }
    });

    var bindStyle = new Vue({
        el: '#bindStyle',
        data:{
            activeColor: 'red',
            fontSize: '20'
        }
    });

    var bindStyleObj = new Vue({
        el:'#bindStyleObj',
        data:{
            styleObject:{
                color: 'red',
                fontSize: '20px'
            }
        }
    });

    var template = new Vue({
        el:'#template'
    })
    
    var random = new Vue({
        el: '#random'
    })

    var list = new Vue({
        el: '#list',
        data:{
            parentMessage: "parent",
            items: [
                { message: 'Foo'},
                { message: 'Bar'}
            ]
        }
    })

    var clickShow = new Vue({
        el: '#clickShow',
        data:{
            name: "Vue.js"
        },
        methods:{
            greet: function (event){
                alert("Hello "+ this.name + "!");
                alert(event.target.tagName);
            }
        }
    })


</script>
</body>
</html>